// Sizes
$mobile: 600px;
$tablet: 1024px;
$desktop: 1140px;

// font sizes (16px base size)
$size-base: 1rem;
$size-0: 0rem;
$size-8: 0.5rem;
$size-9: 0.5625rem;
$size-10: 0.625rem;
$size-11: 0.6875rem;
$size-12: 0.75rem;
$size-14: 0.875rem;
$size-16: 1rem;
$size-18: 1.125rem;
$size-20: 1.25rem;
$size-22: 1.375rem;
$size-24: 1.5rem;
$size-28: 1.75rem;
$size-30: 1.875rem;
$size-40: 2.5rem;
$size-48: 3rem;
